@font-face {
    font-family: "Gilroy-Bold";
    src: url("../font/Gilroy-Bold.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-Regular";
    src: url("../font/Gilroy-Regular.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-Light";
    src: url("../font/Gilroy-Light.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-Semibold";
    src: url("../font/Gilroy-Semibold.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-Medium";
    src: url("../font/Gilroy-Medium.ttf");
  }