@font-face {
  font-family: "Gilroy-Bold";
  src: url("../font/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../font/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("../font/Gilroy-Light.ttf");
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../font/Gilroy-Semibold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../font/Gilroy-Medium.ttf");
}
a {
  text-decoration: none;
}

.c-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.e-flex {
  display: flex;
  justify-content: end;
  align-items: end;
}

.info_btn {
  font-size: 14px;
  font-family: "Gilroy-Medium";
  color: #e58411;
  transition: 0.3s ease-in-out;
}
.info_btn img {
  width: 40px;
  height: 12px;
  margin-left: 12px;
  transition: 0.3s ease-in-out;
}
.info_btn:hover {
  color: #e78c1e;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.title h1 {
  font-size: 42px;
  font-family: "Gilroy-Bold";
  line-height: 49px;
  margin: 20px 0;
}
.title span {
  font-family: "Gilroy-Semibold";
  text-transform: uppercase;
  color: #e58411;
  letter-spacing: 3px;
  font-size: 18px;
}

#header {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #ffffff 100%), url("../img/bg1.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 128vh;
  color: #ffffff;
}
#header.bg2 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #ffffff 100%), url("../img/bg2.jpg") no-repeat center center;
  background-size: cover;
}
#header.bg3 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #ffffff 100%), url("../img/bg3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#header.bg4 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #ffffff 100%), url("../img/bg1.jpg") no-repeat center center;
  background-size: cover;
}
#header .topHead .logo {
  margin-top: 1rem;
}
#header .topHead .logo p {
  font-size: 28px;
}
#header .topHead .nav_h ul {
  padding-top: 18px;
}
#header .topHead .nav_h ul li {
  margin-right: 62px;
}
#header .topHead .nav_h ul li a {
  font-family: "Gilroy-Regular";
  font-size: 18px;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}
#header .topHead .nav_h ul li i {
  margin-left: 0.5rem;
  font-size: 12px;
  color: #fff;
  transition: 0.2s ease-in-out;
}
#header .topHead .nav_h ul li:hover a,
#header .topHead .nav_h ul li:hover i {
  color: #e58411;
}
#header .topHead .nav_h ul li.menu_h {
  position: relative;
  text-align: center;
}
#header .topHead .nav_h ul li.menu_h .d_menu {
  position: absolute;
  top: 100%;
  left: -30px;
  z-index: 555;
  background-color: #e58411;
  width: 140px;
  padding: 1rem 2rem;
  margin-top: 5px;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
#header .topHead .nav_h ul li.menu_h .d_menu li {
  display: block;
  transition: 0.2s ease-in-out;
  margin: 10px 0 16px 0;
}
#header .topHead .nav_h ul li.menu_h .d_menu li:hover {
  transform: scale(1.2);
}
#header .topHead .nav_h ul li.menu_h .d_menu a {
  font-size: 17px;
  color: #ffffff;
}
#header .topHead .nav_h ul li.menu_h .d_menu a:hover {
  color: #ffffff;
}
#header .topHead .nav_h ul li.menu_h:hover .d_menu {
  opacity: 1;
  visibility: visible;
}
#header .topHead .rightSide .burgerMenu {
  display: none;
}
#header .topHead .rightSide .burgerMenu #burger-menu {
  cursor: pointer;
  margin-left: 30px;
  height: 27px;
  width: 27px;
  overflow: visible;
  position: relative;
}
#header .topHead .rightSide .burgerMenu #burger-menu span,
#header .topHead .rightSide .burgerMenu #burger-menu span:before,
#header .topHead .rightSide .burgerMenu #burger-menu span:after {
  background: #fff;
  display: block;
  height: 3px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#header .topHead .rightSide .burgerMenu #burger-menu span:before,
#header .topHead .rightSide .burgerMenu #burger-menu span:after {
  content: "";
  left: 0;
}
#header .topHead .rightSide .burgerMenu #burger-menu span:before {
  top: -10px;
  width: 16px;
}
#header .topHead .rightSide .burgerMenu #burger-menu span:after {
  top: 10px;
  width: 20px;
}
#header .topHead .rightSide .burgerMenu #burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#header .topHead .rightSide .burgerMenu #burger-menu.close span {
  margin: 15px 20px;
  position: fixed;
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
  z-index: 9999;
}
#header .topHead .rightSide .burgerMenu #burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#header .topHead .rightSide .burgerMenu #burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}
#header .topHead .rightSide .burgerMenu #b-menu {
  z-index: 999;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#header .topHead .rightSide .burgerMenu #b-menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: #e58411;
}
#header .topHead .rightSide .burgerMenu #b-menu li {
  list-style: none;
}
#header .topHead .rightSide .burgerMenu #b-menu a {
  color: #fff;
  display: block;
  font-size: 30px;
  margin-bottom: 30px;
  font-family: "Gilroy-Light";
  transition: 0.3s ease-in-out;
}
#header .topHead .rightSide .burgerMenu #b-menu a:hover {
  transform: scale(1.2);
}
#header .topHead .rightSide .offc {
  z-index: 5555555;
  width: 40%;
  background-color: #e58411;
  color: white;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  font-family: "Gilroy-Medium";
}
#header .topHead .rightSide .offc .offc-head .btn-close {
  padding-top: 1.5rem;
}
#header .topHead .rightSide .offc .offc-head .btn-close:focus {
  box-shadow: none;
}
#header .topHead .rightSide .offc .offc-body span {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 1rem;
}
#header .topHead .rightSide .offc .offc-body a {
  display: block;
  text-align: center;
  font-family: "Gilroy-Medium";
  border-radius: 30px;
  padding: 10px;
  color: #e58411;
  background-color: #fff;
  transition: 0.3s ease-in-out;
}
#header .topHead .rightSide .offc .offc-body a:hover {
  background: rgba(255, 255, 255, 0.8823529412);
}
#header .topHead .rightSide .shopCart {
  color: #fff;
  position: relative;
}
#header .topHead .rightSide .shopCart sup {
  position: absolute;
  top: 10%;
  right: -5px;
  padding: 10px 4px;
  font-size: 12px;
  background-color: #e58411;
  border-radius: 50%;
}
#header .bottomHead {
  position: relative;
  min-height: 70vh;
}
#header .bottomHead .bhContent {
  text-align: center;
  width: 80%;
}
#header .bottomHead .bhContent h1 {
  font-family: "Gilroy-Bold";
  text-transform: capitalize;
  font-size: 70px;
  line-height: 130%;
  letter-spacing: -1%;
}
#header .bottomHead .bhContent p {
  opacity: 0.8;
  font-size: 22px;
  font-family: "Gilroy-Light";
  margin-bottom: 40px;
}
#header .bottomHead .bhContent .searchBox .sbContent {
  width: 344px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  padding-left: 20px;
  padding-right: 8px;
}
#header .bottomHead .bhContent .searchBox .sbContent .searchIcon {
  color: #eafaf1;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #e58411;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
#header .bottomHead .bhContent .searchBox .sbContent .searchIcon:hover {
  background-color: #e78c1e;
  transform: scale(1.1);
  width: 40px;
  height: 40px;
}
#header .bottomHead .bhContent .searchBox .sbContent input {
  border: none;
  outline: none;
  padding: 0 10px;
  background: none;
  transition: 0.5s ease;
  color: #fff;
  opacity: 0.8;
}
#header .bottomHead .bhContent .searchBox .sbContent input::-moz-placeholder {
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  transform: translateX(0px);
  z-index: 55;
  color: #ffffff;
  font-family: "Gilroy-Light";
  font-size: 18px;
}
#header .bottomHead .bhContent .searchBox .sbContent input::placeholder {
  transition: 0.2s ease-in-out;
  transform: translateX(0px);
  z-index: 55;
  color: #ffffff;
  font-family: "Gilroy-Light";
  font-size: 18px;
}
#header .bottomHead .bhContent .searchBox .sbContent input:focus::-moz-placeholder {
  transform: translateX(20px);
  color: transparent;
}
#header .bottomHead .bhContent .searchBox .sbContent input:focus::placeholder {
  transform: translateX(20px);
  color: transparent;
}

.firstSection {
  min-height: 60vh;
  color: #1e1e1e;
}
.firstSection .info_box {
  font-family: "Gilroy-Regular";
  text-align: center;
  background-color: #fff;
  position: relative;
}
.firstSection .info_box h4 {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
  line-height: 28px;
  margin-bottom: 15px;
  opacity: 0.9;
  transition: 0.3s ease-in-out;
}
.firstSection .info_box p {
  font-size: 15px;
  line-height: 30px;
  opacity: 0.8;
}
.firstSection .info_box:hover h4 {
  color: #e58411;
}
.firstSection .info_box:hover .info_btn {
  transform: scaleX(1.3);
}
.firstSection .info_box:hover .info_btn img {
  width: 60px;
  height: 12px;
}

.bestSelling {
  min-height: 130vh;
  background-color: #f7f7f7;
  /*  Needed for filters */
  /*  // Needed for filters */
}
.bestSelling .slick-prev:before,
.bestSelling .slick-next:before {
  display: none;
}
.bestSelling .slick-prev,
.bestSelling .slick-next {
  width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 26px;
  box-shadow: 0px 7.03125px 19.53125px 0px rgba(0, 0, 0, 0.0588235294);
}
.bestSelling .slick-prev {
  margin-left: 35px;
  background: white url("../img/slider-arrow-left.svg") no-repeat center;
}
.bestSelling .slick-next {
  margin-right: 35px;
  background: white url("../img/slider-arrow-right.svg") no-repeat center;
}
.bestSelling .products {
  height: 70vh;
  margin: 4rem 0;
}
.bestSelling .products .product-box {
  height: 70vh;
  margin: 4rem 21px;
  position: relative;
}
.bestSelling .products .product-box .p-img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 260px;
  background-color: #fafafa;
  transition: 0.4s ease-in-out;
}
.bestSelling .products .product-box .p-img img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-top: -50px;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  transition: 0.4s ease-in-out;
}
.bestSelling .products .product-box .p-content {
  background-color: #ffffff;
  padding: 15px 21px 27px 21px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.bestSelling .products .product-box .p-content span {
  font-family: "Gilroy-Regular";
  color: #8d8d8d;
}
.bestSelling .products .product-box .p-content h6 {
  margin-top: 5px;
  font-size: 20px;
  font-family: "Gilroy-Semibold";
  color: #0d1b39;
}
.bestSelling .products .product-box .p-content ul li i {
  color: #f6b76f;
  margin-right: 3px;
}
.bestSelling .products .product-box .p-content .price .add-btn {
  font-size: 22px;
  border-radius: 50%;
  padding: 5px 12px;
  color: #ffffff;
  border: none;
  background-color: #0d1b39;
  transition: 0.4s ease-in-out;
}
.bestSelling .products .product-box:hover .p-content .price .add-btn {
  background-color: #e58411;
  transform: scale(1.1);
}
.bestSelling .products .product-box:hover .p-img {
  background-color: #fff;
}
.bestSelling .products .product-box:hover .p-img img {
  transform: scale(1.1);
}
.bestSelling .filters {
  margin-top: 2rem;
  background: #eeeeee;
  border-radius: 44px;
  padding: 6px;
}
.bestSelling .filters .filter {
  cursor: pointer;
  color: #1e1e1e;
  font-size: 18px;
  padding: 7px 20px;
  font-family: "Gilroy-Light";
  border-radius: 32px;
  transition: 0.5s ease-in-out;
  background-color: none;
}
.bestSelling .filters .filter.active {
  background-color: white;
  font-family: "Gilroy-Regular";
}
.bestSelling .hide {
  /* You can play with the seconds to change the "animation" */
  animation: hide 0.3s ease 0s 1 normal forwards;
  transform-origin: center;
}
.bestSelling .show {
  /* You can play with the seconds to change the "animation" */
  animation: show 0.3s ease 0s 1 normal forwards;
  transform-origin: center;
}
@keyframes hide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
  }
}
@keyframes show {
  0% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
  }
  100% {
    transform: scale(1);
  }
}

.experiences,
.materials {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}
.experiences .title,
.materials .title {
  margin-left: 5rem;
  width: 38%;
}
.experiences .title .content,
.materials .title .content {
  margin-top: 5%;
}
.experiences .title .content h1,
.materials .title .content h1 {
  text-transform: capitalize;
  width: 80%;
}
.experiences .title .content p,
.materials .title .content p {
  font-size: 17px;
  color: #1e1e1e;
  opacity: 0.8;
  font-family: "Gilroy-Light";
  line-height: 30px;
}
.experiences .title .content:hover .info_btn,
.materials .title .content:hover .info_btn {
  transform: scaleX(1.3);
}
.experiences .title .content:hover .info_btn img,
.materials .title .content:hover .info_btn img {
  width: 60px;
  height: 12px;
}

.experiences {
  padding-top: 5rem;
  width: 95%;
}
.experiences .left-exp {
  width: 50%;
  position: relative;
}
.experiences .left-exp img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  transition: 0.3s ease-in-out;
}
.experiences .left-exp::after {
  content: "";
  position: absolute;
  z-index: -10;
  top: -15%;
  left: 0;
  width: 65%;
  height: 20%;
  background-color: #f7f7f7;
  border-top-right-radius: 20px;
}
.experiences .left-exp::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: 16%;
  left: 87%;
  width: 10%;
  height: 300px;
  background-color: #f7f7f7;
  border-radius: 20px;
}

.materials {
  justify-content: space-between;
}
.materials .m_gallery {
  width: 52%;
  padding-right: 0;
}
.materials .m_gallery img {
  -o-object-fit: cover;
     object-fit: cover;
}
.materials .m_gallery .m_left {
  width: 30%;
  margin-right: 40px;
}
.materials .m_gallery .m_left img {
  width: 100%;
}
.materials .m_gallery .m_right {
  width: 60%;
}
.materials .m_gallery .m_right img {
  width: 100%;
  border-radius: 10px;
}

.testimonials {
  min-height: 130vh;
}
.testimonials .title h1 {
  margin-bottom: 3rem;
}
.testimonials .review-slider .r-box {
  margin: 0 21px;
  position: relative;
  overflow: hidden;
  border-radius: 18PX;
}
.testimonials .review-slider .r-box img {
  -o-object-fit: cover;
     object-fit: cover;
}
.testimonials .review-slider .r-box .cd-img {
  border-radius: 18PX;
  transition: 0.3s ease-in-out;
}
.testimonials .review-slider .r-box .r-content {
  background-color: #fff;
  border-radius: 18px;
  position: absolute;
  top: 43%;
  left: 5%;
  right: 6%;
  padding: 5px 33px;
}
.testimonials .review-slider .r-box .r-content img {
  margin: -25px 0 13px 41%;
  border-radius: 50%;
  outline: 8px solid #fff;
}
.testimonials .review-slider .r-box .r-content h5 {
  font-size: 18px;
  font-family: "Gilroy-Bold";
}
.testimonials .review-slider .r-box .r-content h6 {
  font-size: 12px;
  color: #1e1e1e;
  opacity: 0.6;
  font-family: "Gilroy-Regular";
}
.testimonials .review-slider .r-box .r-content p {
  font-size: 14px;
  margin: 20px 0;
  font-family: "Gilroy-Light";
}
.testimonials .review-slider .r-box .r-content ul {
  margin-left: 33%;
}
.testimonials .review-slider .r-box .r-content ul li i {
  color: #f6973f;
  font-size: 12px;
  margin-right: 5px;
}
.testimonials .review-slider .r-box .r-content ul li i.l-star {
  opacity: 0.3;
}
.testimonials .review-slider .r-box:hover .cd-img {
  transform: scale(1.2);
}
.testimonials .slick-prev:before,
.testimonials .slick-next:before {
  display: none;
}
.testimonials .slick-prev,
.testimonials .slick-next {
  margin-top: -65px;
  width: 50px;
  height: 50px;
  z-index: 1;
  border-radius: 26px;
  box-shadow: 0px 7.03125px 19.53125px 0px rgba(0, 0, 0, 0.0588235294);
  offset: 0px, 7.03px rgba(0, 0, 0, 0.06);
}
.testimonials .slick-prev {
  margin-left: 20px;
  background: white url("../img/slider-arrow-left.svg") no-repeat center;
}
.testimonials .slick-next {
  margin-right: 20px;
  background: white url("../img/slider-arrow-right.svg") no-repeat center;
}

footer {
  font-family: "Gilroy-Regular";
  min-height: 40vh;
  background-color: #f7f7f7;
}
footer .f-top {
  margin: 2.5rem 0;
}
footer .f-top h3 {
  font-family: "Gilroy-Bold";
  margin-bottom: 1.5rem;
}
footer .f-top p {
  width: 70%;
  line-height: 24px;
  font-size: 15px;
}
footer .f-top ul li {
  list-style: none;
  margin-bottom: 1rem;
}
footer .f-top ul li a {
  position: relative;
  color: #1e1e1e;
  transition: 0.3s ease-in-out;
}
footer .f-top ul li a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #e58411;
  transition: 0.3s ease-in-out;
}
footer .f-top ul li a:hover i {
  color: #e58411;
}
footer .f-top ul li a:hover::after {
  width: 100%;
}
footer .f-top ul li i {
  transition: 0.3s ease-in-out;
  margin-right: 10px;
}
footer .f-top ul .f-title {
  color: #e58411;
}
footer .f-bottom {
  margin-bottom: 1rem;
}
footer .f-bottom .left span {
  color: rgba(30, 40, 51, 0.5529411765);
  transition: 0.3s ease-in-out;
}
footer .f-bottom .left span:hover {
  color: #1e1e1e;
}
footer .f-bottom .right ul li {
  list-style: none;
  margin-right: 1.5rem;
  transition: 0.3s ease-in-out;
}
footer .f-bottom .right ul li:hover {
  color: #e58411;
}

#scrollToTop {
  z-index: 9;
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: none;
  color: white;
  font-size: 20px;
  background-color: #e58411;
  padding: 10px 16px;
  border-radius: 50%;
}
#scrollToTop.active-elem {
  display: block;
}

@media (max-width: 575.98px) {
  #header .bottomHead .bhContent h1 {
    font-size: 40px;
  }
  #header .bottomHead .bhContent p {
    font-size: 16px;
  }
  #header .offc {
    width: 100% !important;
  }
  .bestSelling .filters {
    width: 90%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #header .bottomHead .bhContent h1 {
    font-size: 47px;
  }
  #header .bottomHead .bhContent p {
    font-size: 17px;
  }
  #header .offc {
    width: 60%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  #header .bottomHead .bhContent h1 {
    font-size: 50px;
  }
  #header .bottomHead .bhContent p {
    font-size: 20px;
  }
  .firstSection .info_box {
    width: 45%;
    margin: 1.5rem auto;
    text-align: center;
  }
  .bestSelling .filters {
    width: 65%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #header .bottomHead .bhContent h1 {
    font-size: 65px;
  }
  .firstSection .title {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .firstSection .info_box {
    width: 33.3%;
  }
}
@media (min-width: 1200px) {
  .firstSection .title h1 {
    width: 242px;
  }
}
@media (min-width: 992px) {
  #header .topHead {
    justify-content: space-between;
  }
  .firstSection .info_box {
    text-align: justify;
    padding-left: 40px;
  }
  .bestSelling .filters {
    width: 47%;
  }
}
@media (max-width: 992px) {
  #header .topHead {
    justify-content: space-between;
  }
  #header .topHead .nav_h {
    display: none;
  }
  #header .topHead .burgerMenu {
    display: flex !important;
    justify-content: flex-end;
  }
  #header .bottomHead .searchBox .sbContent {
    width: 280px !important;
  }
  .firstSection {
    margin-bottom: 3rem;
  }
  .firstSection .title {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }
  .firstSection .info_box {
    margin: 2rem auto;
  }
  .experiences .title, .materials .title {
    padding-top: 1.5rem;
    width: 100%;
  }
  .experiences .title .content h1, .materials .title .content h1 {
    font-size: 30px;
  }
  .experiences .title .content P, .materials .title .content P {
    font-size: 17px;
  }
  .experiences {
    padding-top: 20%;
    padding-bottom: 4rem;
  }
  .experiences .left-exp {
    width: 100%;
  }
  .materials {
    justify-content: end;
  }
  .materials .title {
    order: 2;
  }
  .materials .title .content {
    margin-right: 60px;
  }
  .materials .title .content h1 {
    width: 100%;
  }
  .materials .m_gallery {
    width: 85%;
    order: 1;
  }
  footer .f-left {
    padding: 40px 0 20px 45px;
  }
}/*# sourceMappingURL=style.css.map */
