@font-face {
  font-family: "Gilroy-Bold";
  src: url("../font/Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("../font/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("../font/Gilroy-Light.ttf");
}
@font-face {
  font-family: "Gilroy-Semibold";
  src: url("../font/Gilroy-Semibold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../font/Gilroy-Medium.ttf");
}
* a {
  text-decoration: none;
}

.c-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info_btn {
  font-size: 14px;
  color: #e58411;
  transition: 0.3s ease-in-out;
}
.info_btn img {
  margin-left: 12px;
}
.info_btn:hover {
  color: #e78c1e;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#header {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #ffffff 100%), url("../img/bg1.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 128vh;
  color: #ffffff;
}
#header.bg2 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #ffffff 100%), url("../img/bg2.jpg") no-repeat center center;
  background-size: cover;
}
#header.bg3 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #ffffff 100%), url("../img/bg3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
#header.bg4 {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 86.13%, #ffffff 100%), url("../img/bg1.jpg") no-repeat center center;
  background-size: cover;
}
#header .topHead .logo {
  margin-top: 1rem;
}
#header .topHead .logo p {
  font-size: 28px;
}
#header .topHead .nav_h ul {
  padding-top: 18px;
}
#header .topHead .nav_h ul li {
  margin-right: 62px;
}
#header .topHead .nav_h ul li a {
  font-family: "Gilroy-Regular";
  font-size: 18px;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}
#header .topHead .nav_h ul li i {
  margin-left: 0.5rem;
  font-size: 12px;
  color: #fff;
}
#header .topHead .nav_h ul li:hover a,
#header .topHead .nav_h ul li:hover i {
  color: #e58411;
}
#header .topHead .nav_h ul li.menu_h {
  position: relative;
  text-align: center;
}
#header .topHead .nav_h ul li.menu_h .d_menu {
  position: absolute;
  top: 100%;
  left: -30px;
  z-index: 555;
  background-color: #e58411;
  width: 140px;
  padding: 1rem 2rem;
  margin-top: 5px;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
#header .topHead .nav_h ul li.menu_h .d_menu li {
  display: block;
  transition: 0.2s ease-in-out;
  margin: 10px 0 16px 0;
}
#header .topHead .nav_h ul li.menu_h .d_menu li:hover {
  transform: scale(1.2);
}
#header .topHead .nav_h ul li.menu_h .d_menu a {
  font-size: 17px;
  color: #ffffff;
}
#header .topHead .nav_h ul li.menu_h .d_menu a:hover {
  color: #ffffff;
}
#header .topHead .nav_h ul li.menu_h:hover {
  color: #e58411;
}
#header .topHead .nav_h ul li.menu_h:hover .d_menu {
  opacity: 1;
  visibility: visible;
}
#header .topHead .burgerMenu {
  display: none;
}
#header .topHead .burgerMenu #burger-menu {
  cursor: pointer;
  margin-left: 30px;
  height: 27px;
  width: 27px;
  overflow: visible;
  position: relative;
  z-index: 2;
}
#header .topHead .burgerMenu #burger-menu span,
#header .topHead .burgerMenu #burger-menu span:before,
#header .topHead .burgerMenu #burger-menu span:after {
  background: #fff;
  display: block;
  height: 4px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#header .topHead .burgerMenu #burger-menu span:before,
#header .topHead .burgerMenu #burger-menu span:after {
  content: "";
  left: 0;
}
#header .topHead .burgerMenu #burger-menu span:before {
  top: -10px;
  width: 16px;
}
#header .topHead .burgerMenu #burger-menu span:after {
  top: 10px;
  width: 20px;
}
#header .topHead .burgerMenu #burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#header .topHead .burgerMenu #burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#header .topHead .burgerMenu #burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#header .topHead .burgerMenu #burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}
#header .topHead .burgerMenu #menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#header .topHead .burgerMenu #menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 100px;
  background: #e58411;
}
#header .topHead .burgerMenu #menu li {
  list-style: none;
  transition: 0.3s ease-in-out;
}
#header .topHead .burgerMenu #menu li:hover {
  transform: scale(1.2);
}
#header .topHead .burgerMenu #menu a {
  color: #fff;
  display: block;
  font-size: 30px;
  margin-bottom: 30px;
  text-decoration: none;
  font-family: "Gilroy-Light";
}
#header .topHead .shopCart {
  position: relative;
}
#header .topHead .shopCart sup {
  position: absolute;
  top: 10%;
  right: -5px;
  padding: 10px 4px;
  font-size: 12px;
  background-color: #e58411;
  border-radius: 50%;
}
#header .bottomHead {
  position: relative;
  min-height: 70vh;
}
#header .bottomHead .bhContent {
  text-align: center;
  width: 80%;
}
#header .bottomHead .bhContent h1 {
  font-family: "Gilroy-Bold";
  text-transform: capitalize;
  font-size: 75px;
  line-height: 130%;
  letter-spacing: -1%;
}
#header .bottomHead .bhContent p {
  opacity: 0.8;
  font-size: 24px;
  font-family: "Gilroy-Light";
  margin-bottom: 40px;
}
#header .bottomHead .bhContent .searchBox .sbContent {
  width: 344px;
  height: 56px;
  background-color: rgba(255, 255, 255, 0.1490196078);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border: 0.86px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  padding-left: 20px;
  padding-right: 8px;
}
#header .bottomHead .bhContent .searchBox .sbContent .searchIcon {
  color: #eafaf1;
  font-size: 18px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #e58411;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
}
#header .bottomHead .bhContent .searchBox .sbContent input {
  border: none;
  outline: none;
  padding: 0 10px;
  background: none;
  transition: 0.5s ease;
  color: #fff;
  opacity: 0.8;
}
#header .bottomHead .bhContent .searchBox .sbContent input::-moz-placeholder {
  z-index: 55;
  color: #ffffff;
  font-family: "Gilroy-Light";
  font-size: 18px;
}
#header .bottomHead .bhContent .searchBox .sbContent input::placeholder {
  z-index: 55;
  color: #ffffff;
  font-family: "Gilroy-Light";
  font-size: 18px;
}
#header .bottomHead .bhContent .changeColor {
  position: absolute;
  top: 89%;
  left: 16%;
}
#header .bottomHead .bhContent .changeColor #colors {
  opacity: 0;
  width: 112px;
  height: 50px;
  padding: 10px 10px 0 0;
  background-image: url("../img/Union-4.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
#header .bottomHead .bhContent .changeColor #colors.showBtns {
  opacity: 1;
}
#header .bottomHead .bhContent .changeColor .changeBtn {
  margin-top: 2rem;
  border-radius: 100%;
  background-color: #fff;
  width: 18px;
  height: 18px;
  border: none;
  animation: ani 1s infinite;
}
@keyframes ani {
  0% {
    box-shadow: 0 0 0 0 whitesmoke;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(251, 179, 47, 0.0039215686);
  }
}
#header .bottomHead .bhContent .changeColor .btnColor {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid #ffffff;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1019607843);
  background: #00d6c9;
}

.firstSection {
  min-height: 60vh;
  color: #1e1e1e;
}
.firstSection .title h1 {
  font-size: 42px;
  font-family: "Gilroy-Bold";
  line-height: 49px;
}
.firstSection .info_box {
  font-family: "Gilroy-Regular";
  text-align: center;
}
.firstSection .info_box h4 {
  font-family: "Gilroy-Bold";
  font-size: 1.5rem;
  line-height: 28px;
  margin-bottom: 15px;
  opacity: 0.9;
}
.firstSection .info_box p {
  font-size: 15px;
  line-height: 30px;
  opacity: 0.8;
}

.bestSelling {
  min-height: 200vh;
  background-color: #f7f7f7;
}
.bestSelling .title h1 {
  font-size: 42px;
  font-family: "Gilroy-Bold";
}
.bestSelling .products {
  min-height: 60vh;
  margin: 4rem 0;
}
.bestSelling .products .product-box {
  margin: 4rem 0;
}
.bestSelling .products .product-box .p-img {
  background-color: #fafafa;
}
.bestSelling .products .product-box .p-img img {
  margin-top: -50px;
  padding-bottom: 2rem;
}
.bestSelling .products .product-box .p-content {
  background-color: #ffffff;
  padding: 1rem 1.5rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.bestSelling .products .product-box .p-content span {
  font-family: "Gilroy-Regular";
  color: #8d8d8d;
}
.bestSelling .products .product-box .p-content h6 {
  margin-top: 5px;
  font-size: 20px;
  font-family: "Gilroy-Semibold";
  color: #0d1b39;
}
.bestSelling .products .product-box .p-content ul li i {
  color: #f6b76f;
  margin-right: 3px;
}
.bestSelling .products .product-box .p-content .price .add-btn {
  font-size: 22px;
  border-radius: 50%;
  padding: 5px 12px;
  color: #ffffff;
  border: none;
  background-color: #0d1b39;
}

.experiences,
.materials {
  min-height: 110vh;
}
.experiences .ph-exp .content,
.materials .ph-exp .content {
  margin-left: 50px;
  margin-top: 5%;
}
.experiences .ph-exp span,
.materials .ph-exp span {
  font-family: "Gilroy-Semibold";
  text-transform: uppercase;
  color: #e58411;
  letter-spacing: 3px;
  font-size: 18px;
}
.experiences .ph-exp h1,
.materials .ph-exp h1 {
  margin: 20px 0;
  text-transform: capitalize;
  font-family: "Gilroy-Bold";
  font-size: 42px;
  width: 80%;
}
.experiences .ph-exp p,
.materials .ph-exp p {
  font-size: 17px;
  color: #1e1e1e;
  opacity: 0.8;
  font-family: "Gilroy-Light";
  line-height: 30px;
  width: 90%;
}

.experiences {
  width: 95%;
}
.experiences .left-exp {
  position: relative;
}
.experiences .left-exp::after {
  content: "";
  position: absolute;
  z-index: -10;
  top: -15%;
  left: 0;
  width: 65%;
  height: 20%;
  background-color: #f7f7f7;
  border-top-right-radius: 20px;
}
.experiences .left-exp::before {
  content: "";
  position: absolute;
  z-index: -10;
  top: 16%;
  left: 87%;
  width: 10%;
  height: 300px;
  background-color: #f7f7f7;
  border-radius: 20px;
}

.materials .ph-exp .content {
  margin-left: 0px;
}
.materials .marginr {
  margin-right: 0;
}
.materials .m_gallery {
  padding-right: 0;
}
.materials .m_left {
  width: 30%;
  margin-right: 40px;
}
.materials .m_left img {
  width: 100%;
}
.materials .m_right {
  width: 60%;
}
.materials .m_right img {
  width: 100%;
  border-radius: 10px;
}

.testimonials {
  min-height: 130vh;
}
.testimonials .title h1 {
  margin-bottom: 3rem;
}
.testimonials .review-slider {
  background-color: aqua;
}
.testimonials .review-slider .r-box {
  margin: 0 30px;
  background-color: red;
  position: relative;
}
.testimonials .review-slider .r-box .r-content {
  position: absolute;
  top: 43%;
  left: 4%;
  right: 6%;
  padding: 5px 35px;
}
.testimonials .review-slider .r-box .r-content img {
  margin: 0px 0 13px 41%;
}
.testimonials .review-slider .r-box .r-content h5 {
  font-size: 18px;
  font-family: "Gilroy-Bold";
}
.testimonials .review-slider .r-box .r-content h6 {
  font-size: 12px;
  color: #1e1e1e;
  opacity: 0.6;
  font-family: "Gilroy-Regular";
}
.testimonials .review-slider .r-box .r-content p {
  font-size: 14px;
  margin: 20px 0;
  font-family: "Gilroy-Light";
}
.testimonials .review-slider .r-box .r-content ul {
  margin-left: 33%;
}
.testimonials .review-slider .r-box .r-content ul li i {
  color: #f6973f;
  font-size: 12px;
  margin-right: 5px;
}
.testimonials .review-slider .r-box .r-content ul li i.l-star {
  opacity: 0.3;
}

footer {
  font-family: "Gilroy-Regular";
  min-height: 55vh;
  background-color: #f7f7f7;
}
footer .f-top h3 {
  font-family: "Gilroy-Bold";
  margin-bottom: 1.5rem;
}
footer .f-top p {
  width: 70%;
  line-height: 24px;
  font-size: 15px;
}
footer .f-top ul li {
  list-style: none;
  padding-bottom: 1rem;
}
footer .f-top ul li a {
  color: #1e1e1e;
}
footer .f-top ul li i {
  margin-right: 10px;
}
footer .f-top ul .f-title {
  color: #e58411;
}
footer .f-bottom {
  margin-top: 2rem;
}
footer .f-bottom .left span {
  color: rgba(30, 40, 51, 0.5529411765);
}
footer .f-bottom .right ul li {
  list-style: none;
  margin-right: 1.5rem;
}

#scrollToTop {
  z-index: 555555;
  position: fixed;
  bottom: 5%;
  right: 2%;
  display: none;
  color: white;
  font-size: 20px;
  background-color: #e58411;
  padding: 10px 16px;
  border-radius: 50%;
}
#scrollToTop.active-elem {
  display: block;
}

@media (max-width: 575.98px) {
  #header .bottomHead .bhContent h1 {
    font-size: 40px;
  }
  #header .bottomHead .bhContent p {
    font-size: 16px;
  }
  .experiences .ph-exp h1 {
    font-size: 30px;
  }
  .experiences .ph-exp p {
    font-size: 15px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  #header .bottomHead .bhContent h1 {
    font-size: 47px;
  }
  #header .bottomHead .bhContent p {
    font-size: 17px;
  }
  .experiences .ph-exp .content h1 {
    font-size: 33px;
  }
  .experiences .ph-exp .content p {
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  #header .bottomHead .bhContent h1 {
    font-size: 50px;
  }
  #header .bottomHead .bhContent p {
    font-size: 20px;
  }
  .firstSection .info_box {
    width: 45%;
    margin: 1.5rem auto;
    text-align: center;
  }
  .experiences .ph-exp .content h1 {
    font-size: 38px;
  }
  .experiences .ph-exp .content P {
    font-size: 16px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #header .bottomHead .bhContent h1 {
    font-size: 65px;
  }
  .firstSection .title {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .firstSection .info_box {
    width: 33.3%;
  }
}
@media (min-width: 1200px) {
  .firstSection .title h1 {
    width: 242px;
  }
  .experiences .ph-exp .content h1 {
    width: 75%;
  }
}
@media (min-width: 992px) {
  #header .topHead {
    justify-content: space-between;
  }
  .firstSection .info_box {
    text-align: justify;
    padding-left: 40px;
  }
}
@media (max-width: 992px) {
  #header .topHead {
    justify-content: space-between;
  }
  #header .topHead .nav_h {
    display: none;
  }
  #header .topHead .burgerMenu {
    display: flex !important;
    justify-content: flex-end;
  }
  #header .bottomHead .searchBox .sbContent {
    width: 280px !important;
  }
  .firstSection .title {
    margin-top: 2rem;
    width: 100%;
    text-align: center;
  }
  .firstSection .info_box {
    margin: 2rem auto;
  }
  .materials .ph-exp {
    order: 2;
  }
  .materials .m_gallery {
    order: 1;
  }
}/*# sourceMappingURL=style.css.map */
